<h2 class="text-center">Welcome To Cogs121 Boilerplate </h2>
<br>
<body style="background-color:#597ABC">
<p style="text-indent: 5em;color:#FF9900">
<b>Login with Instagram :</b> <a href="/auth/instagram">
<img border="0" alt="Instagram" src="images/Instagram.png" width="100" height="100">
</a>
</p>

<p style="text-indent: 5em;color:white">
<b>Login with Facebook :</b> <a href="/auth/facebook">
<img border="0" alt="Facebook" src="images/Facebook.png" width="100" height="100">
</a>
</p>
